<app-header></app-header>





<div class="text-and-buttons-container">
    <div class="column-container">
        <div class="column">
          <p class="handwriting-text">
            Seja bem-vindo ao Flavors of Oliveira, a sua casa para receitas deliciosas e inspiração culinária.
            Somos uma comunidade dedicada a partilhar sabores autênticos, dicas práticas e histórias envolventes por trás de cada prato. 
            Seja um chef experiente ou um novato na cozinha, o nosso site é o seu destino para explorar novos horizontes gastronómicos.
          </p>
        </div>
        <div class="column">
          <p class="handwriting-text">
            Junte-se a nós nesta jornada culinária e descubra os sabores irresistíveis do Flavors of Oliveira. 
            Bom apetite!
          </p>
        </div>
    </div>
</div>  

<div class="buttons-container">
    <button type="button" class="btn btn-outline-primary button-spaced" (click)="goToRegisterPage()">Register</button>
    <button type="button" class="btn btn-outline-success">Login</button>
  </div>

    <app-footer></app-footer>


