
<main class="container-main">
    <h1>Criar Receita</h1>
    <form class="formulario" (ngSubmit)="cadastrar()" [formGroup]="formulario">
      <div class="campo-primeira-linha">
        <div class="form-group grow2">
          <label for="nome">Titulo da Receita</label>
          <input type="text" class="form-control" id="nome" formControlName="nome">
          <small class="form-text text-muted">Campo obrigatório</small>
        </div>
  
        <div class="form-group grow1" >
          <label for="tempo_de_preparo">Tempo de Preparo</label>
          <input type="text" class="form-control" id="tempo_de_preparo" formControlName="tempo_de_preparo">
          <small class="form-text text-muted">Exemplo: 1h e 30min - Campo obrigatório</small>
        </div>
      </div>
  
      <div class="campo-segunda-linha">
        <div class="form-group grow1">
          <label for="rendimento">Username</label>
          <input type="text" class="form-control" id="username" formControlName="username">
          <small class="form-text text-muted">Insira o seu username - Campo obrigatório</small>
        </div>
     
        <div class="form-group grow1">
          <label for="avaliacao">Dificulade da Receita</label>
          <input type="text" class="form-control" id="avaliacao" formControlName="avaliacao">
          <small class="form-text text-muted">Exemplo: 7/10 - Campo obrigatório</small>
        </div>
       </div>
 
  
      <h5>Ingredientes</h5>
  
      <div class= "campo-quarta-linha" formGroupName="ingredientes">
        <div class="form-group grow1">
          <label for="categoria1">Nome</label>
          <input type="text" class="form-control" id="categoria1" formControlName="categoria">
          <small class="form-text text-muted">Campo obrigatório - Digite  o nome do grupo de ingredientes, ex:"Massa", "Recheio", etc </small>
        </div>
        
        <div class= "campo-quarta-linha" formGroupName="ingredientes">
          <div class="form-group grow1">
            <label for="categoria1">Nome</label>
            <input type="text" class="form-control" id="categoria1" formControlName="categoria">
            <small class="form-text text-muted">Campo obrigatório - Digite  o nome do grupo de ingredientes, ex:"Massa", "Recheio", etc </small>
          </div>

          <div class= "campo-quarta-linha" formGroupName="ingredientes">
            <div class="form-group grow1">
              <label for="categoria1">Nome</label>
              <input type="text" class="form-control" id="categoria1" formControlName="categoria">
              <small class="form-text text-muted">Campo obrigatório - Digite  o nome do grupo de ingredientes, ex:"Massa", "Recheio", etc </small>
            </div>
         
       
  
      <h5>Modo de Preparo</h5>

  
        <div class="form-group">
          <label for="itens2">Descrição</label>
          <textarea class="form-control" id="itens2" rows="10"  formControlName="itens"></textarea>
          <small class="form-text text-muted">Campo obrigatório</small>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Enviar</button>
  


