<main class="container-main">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="text-center mb-4">Criar Receita</h1>
        <form class="formulario" (ngSubmit)="CreateRecipe()" [formGroup]="recipeForm">
          <div class="form-group">
            <label for="title">Título da Receita</label>
            <input type="text" class="form-control" id="title" formControlName="title">
            <small class="form-text text-muted">Campo obrigatório</small>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="duration">Tempo de Preparo</label>
              <input type="text" class="form-control" id="duration" formControlName="duration">
              <small class="form-text text-muted">Exemplo: 1h e 30min - Campo obrigatório</small>
            </div>
            <div class="form-group col-md-6">
              <label for="difficulty">Dificuldade da Receita</label>
              <input type="text" class="form-control" id="difficulty" formControlName="difficulty">
              <small class="form-text text-muted">Exemplo: "Fácil", "Difícil"  - Campo obrigatório</small>
            </div>
          </div>
  
          <div class="form-group">
            <label for="userName">Nome do Criador</label>
            <input type="text" class="form-control" id="userName" formControlName="userName">
            <small class="form-text text-muted">Insira o seu Username. - Campo obrigatório</small>
          </div>
  
          <h5>Descrição</h5>
          <div class="form-group">
            <label for="description">Resumo</label>
            <textarea class="form-control" id="description" rows="6" formControlName="description"></textarea>
            <small class="form-text text-muted">Campo obrigatório</small>
          </div>
  
          <h5>Ingredientes</h5>
          <div formArrayName="ingredients">
            <div *ngFor="let ingredient of ingredients.controls; let i=index" [formGroupName]="i">
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="name{{i}}">Nome</label>
                  <input type="text" class="form-control" id="name{{i}}" formControlName="name">
                  <small class="form-text text-muted">Campo obrigatório - ex: "Açucar", etc</small>
                </div>
                <div class="form-group col-md-4">
                  <label for="quantity{{i}}">Quantidade</label>
                  <input type="text" class="form-control" id="quantity{{i}}" formControlName="quantity">
                  <small class="form-text text-muted">Campo obrigatório - ex: "0,5", "3", etc</small>
                </div>
                <div class="form-group col-md-4">
                  <label for="unit{{i}}">Unidade</label>
                  <input type="text" class="form-control" id="unit{{i}}" formControlName="unit">
                  <small class="form-text text-muted">Campo obrigatório - ex: "Gr", "kg", etc</small>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-secondary mb-3" (click)="addIngredient()">Adicionar Ingrediente</button>
  
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
  
          <div *ngIf="errorMessage" class="alert alert-danger mt-3">
            {{ errorMessage }}
          </div>
        </form>
      </div>
    </div>
  </main>